<?xml version="1.0"?>
<ConectorInfo>
  <PlaId>
    <ID1>
      <Presente>true</Presente>
    </ID1>
    <ID2>
      <Presente>true</Presente>
    </ID2>
    <ID3>
      <Presente>true</Presente>
    </ID3>
    <ID4>
      <Presente>true</Presente>
    </ID4>
    <ID5>
      <Presente>true</Presente>
    </ID5>
  </PlaId>
  <BootId>
    <ID10>
      <Nome>Rasther I+</Nome>
      <Tipo>1</Tipo>
      <Atua>1</Atua>
    </ID10>
    <ID12>
      <Nome>Rasther III</Nome>
      <Tipo>2</Tipo>
      <Atua>2</Atua>
    </ID12>
    <ID14>
      <Nome>Rasther Box</Nome>
      <Tipo>3</Tipo>
      <Atua>1</Atua>
    </ID14>
	<ID15>
      <Nome>Rasther Box Shock</Nome>
      <Tipo>3</Tipo>
      <Atua>1</Atua>
    </ID15>
    <ID16>
      <Nome>CN AUTO</Nome>
      <Tipo>2</Tipo>
      <Atua>2</Atua>
    </ID16>
    <ID18>
      <Nome>Rasther III S</Nome>
      <Tipo>2</Tipo>
      <Atua>2</Atua>
    </ID18>
    <ID20>
      <Nome>VCI</Nome>
      <Tipo>2</Tipo>
      <Atua>2</Atua>
    </ID20>
  </BootId>
  <Conector>
    <ID1>
      <Name>D1</Name>
      <BAT>16</BAT>
      <GND>4/5</GND>
      <PIN1>1</PIN1>
      <PIN2>2</PIN2>
      <PIN3>3</PIN3>
      <PIN6>6</PIN6>
      <PIN7>7</PIN7>
      <PIN8>8</PIN8>
      <PIN9>9</PIN9>
      <PIN10>10</PIN10>
      <PIN11>11</PIN11>
      <PIN12>12</PIN12>
      <PIN13>13</PIN13>
      <PIN14>14</PIN14>
      <PIN15>15</PIN15>
    </ID1>
    <ID2>
      <Name>D2</Name>
      <BAT>3</BAT>
      <GND>1</GND>
      <PIN1>2</PIN1>
      <PIN2>6</PIN2>
      <PIN3>7</PIN3>
      <PIN6>8</PIN6>
      <PIN7>5</PIN7>
      <PIN8>14</PIN8>
      <PIN9>4</PIN9>
      <PIN10>9</PIN10>
      <PIN11>10</PIN11>
      <PIN12>11</PIN12>
      <PIN13>12</PIN13>
      <PIN14>13</PIN14>
      <PIN15/>
    </ID2>
    <ID3>
      <!--no-->
      <Name>D3</Name>
      <BAT>1</BAT>
      <GND>8</GND>
      <PIN1/>
      <PIN2/>
      <PIN3>2</PIN3>
      <PIN6>4</PIN6>
      <PIN7>5</PIN7>
      <PIN8>6</PIN8>
      <PIN9/>
      <PIN10/>
      <PIN11>3</PIN11>
      <PIN12>7</PIN12>
      <PIN13/>
      <PIN14/>
      <PIN15/>
    </ID3>
    <ID4>
      <!--no-->
      <Name>D4</Name>
      <BAT>6/2</BAT>
      <GND>4</GND>
      <PIN1>1</PIN1>
      <PIN2/>
      <PIN3/>
      <PIN6/>
      <PIN7>7</PIN7>
      <PIN8>3</PIN8>
      <PIN9>8</PIN9>
      <PIN10/>
      <PIN11/>
      <PIN12>9</PIN12>
      <PIN13/>
      <PIN14/>
      <PIN15>5</PIN15>
    </ID4>
    <ID5>
      <Name>D5</Name>
      <BAT>B</BAT>
      <GND>A</GND>
      <PIN1/>
      <PIN2/>
      <PIN3>F</PIN3>
      <PIN6>C</PIN6>
      <PIN7>H</PIN7>
      <PIN8/>
      <PIN9/>
      <PIN10>E</PIN10>
      <PIN11>G</PIN11>
      <PIN12/>
      <PIN13/>
      <PIN14>D</PIN14>
      <PIN15>J</PIN15>
    </ID5>
    <ID6>
      <!--no-->
      <Name>D6</Name>
      <BAT>C</BAT>
      <GND>E</GND>
      <PIN1/>
      <PIN2/>
      <PIN3>A</PIN3>
      <PIN6/>
      <PIN7>D</PIN7>
      <PIN8/>
      <PIN9/>
      <PIN10/>
      <PIN11>B</PIN11>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15>F</PIN15>
    </ID6>
    <ID7>
      <Name>D7</Name>
      <BAT>1</BAT>
      <GND>2</GND>
      <PIN1>3</PIN1>
      <PIN2>4</PIN2>
      <PIN3>5</PIN3>
      <PIN6>6</PIN6>
      <PIN7>8</PIN7>
      <PIN8>7</PIN8>
      <PIN9>9</PIN9>
      <PIN10>11</PIN10>
      <PIN11>12</PIN11>
      <PIN12>13</PIN12>
      <PIN13>14</PIN13>
      <PIN14>15</PIN14>
      <PIN15>10</PIN15>
    </ID7>
    <ID8>
      <Name>D8</Name>
      <BAT>27</BAT>
      <GND>30</GND>
      <PIN1>18</PIN1>
      <PIN2>4</PIN2>
      <PIN3>3</PIN3>
      <PIN6>21</PIN6>
      <PIN7>2</PIN7>
      <PIN8>7</PIN8>
      <PIN9>8</PIN9>
      <PIN10>12</PIN10>
      <PIN11>13</PIN11>
      <PIN12>14</PIN12>
      <PIN13>17</PIN13>
      <PIN14>22</PIN14>
      <PIN15>1</PIN15>
    </ID8>
    <ID9>
      <!--no-->
      <Name>D9</Name>
      <BAT>27</BAT>
      <GND>30</GND>
      <PIN1>8</PIN1>
      <PIN2>3</PIN2>
      <PIN3>4</PIN3>
      <PIN6>6</PIN6>
      <PIN7>2</PIN7>
      <PIN8>12</PIN8>
      <PIN9>13</PIN9>
      <PIN10>14</PIN10>
      <PIN11>15</PIN11>
      <PIN12>16</PIN12>
      <PIN13>18</PIN13>
      <PIN14>22</PIN14>
      <PIN15>1</PIN15>
    </ID9>
    <ID10>
      <Name>D10</Name>
      <BAT>F</BAT>
      <GND>A</GND>
      <PIN1>B</PIN1>
      <PIN2>C</PIN2>
      <PIN3>D</PIN3>
      <PIN6/>
      <PIN7>M</PIN7>
      <PIN8>J</PIN8>
      <PIN9/>
      <PIN10>E</PIN10>
      <PIN11>G</PIN11>
      <PIN12>H</PIN12>
      <PIN13>K</PIN13>
      <PIN14/>
      <PIN15>L</PIN15>
    </ID10>
    <ID11>
      <Name>D11</Name>
      <BAT>F</BAT>
      <GND>A</GND>
      <PIN1>B</PIN1>
      <PIN2/>
      <PIN3>C</PIN3>
      <PIN6/>
      <PIN7>G</PIN7>
      <PIN8>E</PIN8>
      <PIN9>D</PIN9>
      <PIN10/>
      <PIN11>F</PIN11>
      <PIN12>H</PIN12>
      <PIN13>J</PIN13>
      <PIN14/>
      <PIN15>K</PIN15>
    </ID11>
    <ID12>
      <Name>D12</Name>
      <BAT/>
      <GND>2</GND>
      <PIN1/>
      <PIN2/>
      <PIN3/>
      <PIN6/>
      <PIN7>3</PIN7>
      <PIN8/>
      <PIN9/>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15>1</PIN15>
    </ID12>
    <ID13>
      <Name>D13</Name>
      <BAT/>
      <GND/>
      <PIN1>6</PIN1>
      <PIN2/>
      <PIN3/>
      <PIN6/>
      <PIN7>5</PIN7>
      <PIN8/>
      <PIN9/>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15/>
    </ID13>
    <ID14>
      <Name>D14</Name>
      <BAT/>
      <GND/>
      <PIN1>3</PIN1>
      <PIN2/>
      <PIN3/>
      <PIN6/>
      <PIN7>1</PIN7>
      <PIN8>2</PIN8>
      <PIN9/>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15/>
    </ID14>
    <ID15>
      <Name>D15</Name>
      <BAT/>
      <GND/>
      <PIN1/>
      <PIN2/>
      <PIN3/>
      <PIN6/>
      <PIN7>1</PIN7>
      <PIN8/>
      <PIN9/>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15>2</PIN15>
    </ID15>
    <ID16>
      <Name>D16</Name>
      <BAT>6</BAT>
      <GND>2</GND>
      <PIN1>1</PIN1>
      <PIN2>3</PIN2>
      <PIN3>4</PIN3>
      <PIN6/>
      <PIN7>11</PIN7>
      <PIN8>9</PIN8>
      <PIN9>5</PIN9>
      <PIN10/>
      <PIN11/>
      <PIN12>7</PIN12>
      <PIN13>8</PIN13>
      <PIN14/>
      <PIN15>10</PIN15>
    </ID16>
    <ID17>
      <Name>D17</Name>
      <BAT>14</BAT>
      <GND>19</GND>
      <PIN1>1</PIN1>
      <PIN2>2</PIN2>
      <PIN3>3</PIN3>
      <PIN6>2</PIN6>
      <PIN7>17/20</PIN7>
      <PIN8/>
      <PIN9>6</PIN9>
      <PIN10>7</PIN10>
      <PIN11>8</PIN11>
      <PIN12>16</PIN12>
      <PIN13>18</PIN13>
      <PIN14>3</PIN14>
      <PIN15>15</PIN15>
    </ID17>
    <ID18>
      <Name>D18</Name>
      <BAT>2</BAT>
      <GND>3</GND>
      <PIN1/>
      <PIN2/>
      <PIN3/>
      <PIN6/>
      <PIN7>1</PIN7>
      <PIN8/>
      <PIN9/>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15/>
    </ID18>
    <ID19>
      <Name>D19</Name>
      <BAT>7</BAT>
      <GND>3</GND>
      <PIN1>5/15</PIN1>
      <PIN2/>
      <PIN3>12</PIN3>
      <PIN6>2</PIN6>
      <PIN7>8</PIN7>
      <PIN8>21</PIN8>
      <PIN9>16</PIN9>
      <PIN10>9</PIN10>
      <PIN11>17</PIN11>
      <PIN12>1</PIN12>
      <PIN13>3</PIN13>
      <PIN14/>
      <PIN15>22</PIN15>
    </ID19>
    <ID20>
      <Name>D20</Name>
      <BAT>4</BAT>
      <GND>16</GND>
      <PIN1>17/14</PIN1>
      <PIN2/>
      <PIN3>6</PIN3>
      <PIN6>10</PIN6>
      <PIN7>11</PIN7>
      <PIN8>1</PIN8>
      <PIN9/>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15/>
    </ID20>
    <ID21>
      <Name>D21</Name>
      <BAT/>
      <GND/>
      <PIN1/>
      <PIN2/>
      <PIN3/>
      <PIN6/>
      <PIN7>C1</PIN7>
      <PIN8/>
      <PIN9/>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15>C2</PIN15>
    </ID21>
    <ID22>
      <!--no-->
      <Name>D22</Name>
      <BAT>7</BAT>
      <GND>8</GND>
      <PIN1>9</PIN1>
      <PIN2>3</PIN2>
      <PIN3>4</PIN3>
      <PIN6>5</PIN6>
      <PIN7>2</PIN7>
      <PIN8>6</PIN8>
      <PIN9>10</PIN9>
      <PIN10>11</PIN10>
      <PIN11>12</PIN11>
      <PIN12>13</PIN12>
      <PIN13>14</PIN13>
      <PIN14/>
      <PIN15>1</PIN15>
    </ID22>
    <ID23>
      <Name>D23</Name>
      <BAT>1</BAT>
      <GND>2</GND>
      <PIN1/>
      <PIN2/>
      <PIN3/>
      <PIN6/>
      <PIN7>3</PIN7>
      <PIN8/>
      <PIN9/>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15/>
    </ID23>
    <ID24>
      <Name>D24</Name>
      <BAT/>
      <GND/>
      <PIN1/>
      <PIN2/>
      <PIN3/>
      <PIN6/>
      <PIN7>2</PIN7>
      <PIN8/>
      <PIN9/>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15>1</PIN15>
    </ID24>
    <ID25>
      <Name>D25</Name>
      <BAT/>
      <GND>10</GND>
      <PIN1/>
      <PIN2/>
      <PIN3>3</PIN3>
      <PIN6>6</PIN6>
      <PIN7>1</PIN7>
      <PIN8>4</PIN8>
      <PIN9>9</PIN9>
      <PIN10/>
      <PIN11>7</PIN11>
      <PIN12>8</PIN12>
      <PIN13>5</PIN13>
      <PIN14>11</PIN14>
      <PIN15>1</PIN15>
    </ID25>
    <ID26>
      <Name>D26</Name>
      <BAT>5</BAT>
      <GND>1</GND>
      <PIN1/>
      <PIN2/>
      <PIN3/>
      <PIN6>3</PIN6>
      <PIN7>6</PIN7>
      <PIN8/>
      <PIN9/>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15/>
    </ID26>
    <ID27/>
    <!--no-->
    <ID28/>
    <!--no-->
    <Name>D27</Name>
    <BAT/>
    <GND/>
    <PIN1/>
    <PIN2/>
    <PIN3/>
    <PIN6/>
    <PIN7/>
    <PIN8/>
    <PIN9/>
    <PIN10/>
    <PIN11/>
    <PIN12/>
    <PIN13/>
    <PIN14/>
    <PIN15/>
    <ID29>
      <Name>D28</Name>
      <BAT/>
      <GND>1</GND>
      <PIN1>5</PIN1>
      <PIN2>2</PIN2>
      <PIN3>4</PIN3>
      <PIN6>3</PIN6>
      <PIN7>6</PIN7>
      <PIN8/>
      <PIN9/>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15/>
    </ID29>
    <ID30>
      <Name>D29</Name>
      <BAT/>
      <GND/>
      <PIN1>3</PIN1>
      <PIN2>5</PIN2>
      <PIN3/>
      <PIN6>2</PIN6>
      <PIN7>4</PIN7>
      <PIN8>1</PIN8>
      <PIN9>6</PIN9>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15/>
    </ID30>
    <ID31>
      <Name>D30</Name>
      <BAT/>
      <GND/>
      <PIN1>4</PIN1>
      <PIN2>2</PIN2>
      <PIN3/>
      <PIN6>6</PIN6>
      <PIN7>1</PIN7>
      <PIN8>3</PIN8>
      <PIN9>4</PIN9>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15/>
    </ID31>
    <ID32/>
    <!--no-->
    <Name>D31</Name>
    <BAT/>
    <GND/>
    <PIN1/>
    <PIN2/>
    <PIN3/>
    <PIN6/>
    <PIN7/>
    <PIN8/>
    <PIN9/>
    <PIN10/>
    <PIN11/>
    <PIN12/>
    <PIN13/>
    <PIN14/>
    <PIN15/>
    <ID33>
      <Name>D8v2</Name>
      <BAT>27</BAT>
      <GND>30</GND>
      <PIN1>18</PIN1>
      <PIN2>4</PIN2>
      <PIN3>3</PIN3>
      <PIN6>21</PIN6>
      <PIN7>2</PIN7>
      <PIN8>7</PIN8>
      <PIN9>8</PIN9>
      <PIN10>12</PIN10>
      <PIN11>13</PIN11>
      <PIN12>14</PIN12>
      <PIN13>17</PIN13>
      <PIN14>22</PIN14>
      <PIN15>1</PIN15>
    </ID33>
    <ID34>
      <Name>D32</Name>
      <BAT/>
      <GND>2</GND>
      <PIN1/>
      <PIN2/>
      <PIN3/>
      <PIN6/>
      <PIN7>1</PIN7>
      <PIN8/>
      <PIN9/>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15/>
    </ID34>
    <ID35>
      <Name>D33</Name>
      <BAT/>
      <GND/>
      <PIN1/>
      <PIN2/>
      <PIN3/>
      <PIN6/>
      <PIN7>1</PIN7>
      <PIN8/>
      <PIN9/>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15/>
    </ID35>
    <ID36>
      <Name>D34</Name>
      <BAT/>
      <GND>3</GND>
      <PIN1/>
      <PIN2/>
      <PIN3/>
      <PIN6/>
      <PIN7>2</PIN7>
      <PIN8/>
      <PIN9/>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15/>
    </ID36>
    <ID37>
      <Name>D35</Name>
      <BAT/>
      <GND>2</GND>
      <PIN1/>
      <PIN2/>
      <PIN3/>
      <PIN6/>
      <PIN7>1</PIN7>
      <PIN8/>
      <PIN9/>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15/>
    </ID37>
    <ID38>
      <Name>D36</Name>
      <BAT/>
      <GND>1</GND>
      <PIN1/>
      <PIN2/>
      <PIN3/>
      <PIN6/>
      <PIN7>2</PIN7>
      <PIN8/>
      <PIN9/>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15/>
    </ID38>
    <ID39>
      <Name>D37</Name>
      <BAT>4</BAT>
      <GND>2</GND>
      <PIN1/>
      <PIN2/>
      <PIN3/>
      <PIN6/>
      <PIN7>1</PIN7>
      <PIN8/>
      <PIN9/>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15/>
    </ID39>
    <ID40>
      <Name>D38</Name>
      <BAT/>
      <GND>2</GND>
      <PIN1/>
      <PIN2>3</PIN2>
      <PIN3/>
      <PIN6/>
      <PIN7/>
      <PIN8/>
      <PIN9/>
      <PIN10>1</PIN10>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15/>
    </ID40>
    <ID41>
      <Name>D39</Name>
      <BAT>6</BAT>
      <GND>4</GND>
      <PIN1/>
      <PIN2/>
      <PIN3/>
      <PIN6>7</PIN6>
      <PIN7>1</PIN7>
      <PIN8/>
      <PIN9/>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14>9</PIN14>
      <PIN15>2</PIN15>
    </ID41>
    <ID42>
      <Name>D40</Name>
      <BAT/>
      <GND>6</GND>
      <PIN1/>
      <PIN2/>
      <PIN3/>
      <PIN6/>
      <PIN7>4</PIN7>
      <PIN8/>
      <PIN9/>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15/>
    </ID42>
    <ID43>
      <Name>D41</Name>
      <BAT>1</BAT>
      <GND>2</GND>
      <PIN1/>
      <PIN2/>
      <PIN3/>
      <PIN6>3</PIN6>
      <PIN7/>
      <PIN8/>
      <PIN9/>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14>4</PIN14>
      <PIN15/>
    </ID43>
    <ID44>
      <Name>D42</Name>
      <BAT>6</BAT>
      <GND>2</GND>
      <PIN1>4</PIN1>
      <PIN2/>
      <PIN3/>
      <PIN6>1</PIN6>
      <PIN7/>
      <PIN8/>
      <PIN9/>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14>3</PIN14>
      <PIN15/>
    </ID44>
    <ID45>
      <Name>D43</Name>
      <BAT></BAT>
      <GND>Garra</GND>
      <PIN1/>
      <PIN2/>
      <PIN3/>
      <PIN6/>
      <PIN7>Terminal</PIN7>
      <PIN8/>
      <PIN9/>
      <PIN10/>
      <PIN11/>
      <PIN12/>
      <PIN13/>
      <PIN14/>
      <PIN15/>
    </ID45>
    <ID46>
      <Name>D44</Name>
      <BAT>2</BAT>
      <GND>5</GND>
      <PIN1>4</PIN1>
      <PIN2/>
      <PIN3>4</PIN3>
      <PIN6/>
      <PIN7>11</PIN7>
      <PIN8>9</PIN8>
      <PIN9>10</PIN9>
      <PIN10>6</PIN10>
      <PIN11/>
      <PIN12>7</PIN12>
      <PIN13>8</PIN13>
      <PIN14/>
      <PIN15>12</PIN15>
    </ID46>
  </Conector>
  <Protocol>
    <ID0>KLine (SX3 + SY3)</ID0>
    <ID1>KLine (SX3 + SY3)</ID1>
    <ID2>KLine (SX3 + SY3)</ID2>
    <ID3>KLine (SX3 + SY3)</ID3>
    <ID4>KLine (SX3 + SY3)</ID4>
    <ID5>KLine (SX3 + SY3)</ID5>
    <ID6>KLine (SX3 + SY3)</ID6>
    <ID7>KLine (SX3 + SY3)</ID7>
    <ID8>KLine (SX3 + SY3)</ID8>
    <ID9>KLine (SX3 + SY3)</ID9>
    <ID10>CAN (SX1 + SY1)</ID10>
    <ID11>CAN (SX1 + SY1)</ID11>
    <ID12>CAN (SX1 + SY1)</ID12>
    <ID13>CAN (SX1 + SY1)</ID13>
    <ID14>KLine (SX3 + SY3)</ID14>
    <ID15>KLine (SX3 + SY3)</ID15>
    <ID16>KLine (SX3 + SY3)</ID16>
    <ID17>PWM (SX2 + SY2)</ID17>
    <ID18>VPW (SX3 + SX6)</ID18>
    <ID19>RS485 (SX5 + SY5)</ID19>
    <ID20>CAN (SX1 + SY1)</ID20>
    <ID21>KLine (SX3 + SY3)</ID21>
    <ID22>KLine (SX3 + SY3)</ID22>
    <ID23>CAN (SX1 + SY1)</ID23>
    <ID24>KLine (SX3 + SY3)</ID24>
    <ID25>KLine (SX3 + SY3)</ID25>
    <ID26>KLine (SX3 + SY3)</ID26>
    <ID27>KLine (SX3 + SY3)</ID27>
    <ID28>CAN (SX1 + SY1)</ID28>
    <ID29>KLine (SX3 + SY3)</ID29>
    <ID30>KLine (SX3 + SY3)</ID30>
    <ID31>RS485 (SX5 + SY5)</ID31>
    <ID32>KLine (SX3 + SY3)</ID32>
  </Protocol>
</ConectorInfo>
